.populares{
    padding: 3rem 2rem; /*espaçamento do destque*/
}
.populares__conteudo{
    display: flex;
    flex-wrap: wrap; /*se fica pequena a linha quebra e vai p outra*/ 
    grid-area: conteudo;
    padding: .1rem 0;
}
.populares__card{
    background: rgb(71, 70, 70);
    display: grid;
    grid-template-areas: "card-imagem" "card-corpo";
    grid-template-columns: 100%;
    margin-right: 1rem;
    width: calc(20% - 1rem);
    grid-template-rows: 173px auto;
}

.populares__card :last-child{
    margin-right: 0;
}
.populares__card___imagem{
    grid-area: card-imagem;
    height: 100%;
    width:100%;
}

.populares__card___corpo{
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas: "card-cabecalho" "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.populares__card___titulo{
   color: white;
   font-size: 1.5rem;
}
.populares__card___data{
    color: #ffffff;
    font-size: .9rem;
}
.populares__card___descricao{
    text-align: justify;
    color:rgb(255, 255, 255);
    margin: 1rem 0;
    line-height: 1.5 ;
}
.populares__titulo{
    font-weight: 500;
}
.populares__icone{
    margin-right: .25rem;
}
.populares__cabecalho{
    border-bottom: px solid #000000;
    display: flex;
    justify-content: space-between;
}
.populares__butao{
     
     
}