.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 50px 50px; /*linhas*/
    
}

.cabecalho {
    grid-area: cabecalho; /*onde vai fica cada*/
}
 
.conteudo {
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}